body {
    font-family: Arial, sans-serif;
    display: flex;
    margin: 0;
}

.container {
    display: flex;
    width: 100%;
}

.sidebar {
    width: 25%;
    background-color: #f4f4f4;
    padding: 15px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.content {
    padding: 15px;
    width: 75%;
}

.directory ul, .file ul {
    display: none;
}

.directory:hover ul {
    display: block;
}

.file {
    margin: 10px 0;
}

.file-link {
    cursor: pointer;
    color: #007bff;
}

.file-link:hover {
    text-decoration: underline;
}
